<!DOCTYPE html>
<html class="no-js" lang="en">
  {{ block "head" . }}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Gerow - Business Consulting HTML Template</title>
    <meta
      name="description"
      content="Gerow - Business Consulting HTML Template"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/img/favicon.png"
    />
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/animate.min.css" />
    <link rel="stylesheet" href="assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css" />
    <link rel="stylesheet" href="assets/css/flaticon.css" />
    <link rel="stylesheet" href="assets/css/odometer.css" />
    <link rel="stylesheet" href="assets/css/jarallax.css" />
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" />
    <link rel="stylesheet" href="assets/css/slick.css" />
    <link rel="stylesheet" href="assets/css/aos.css" />
    <link rel="stylesheet" href="assets/css/default.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/responsive.css" />
  </head>
  {{
    end
  }}
  <body>
    {{ block "navbar" .}}
    <header id="sticky-header" class="transparent-header header-style-two">
      <div class="container custom-container">
        <div class="heder-top-wrap">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="header-top-left">
                <ul class="list-wrap">
                  <li>
                    <i class="flaticon-location"></i>256 Avenue, Mark Street,
                    Newyork City
                  </li>
                  <li>
                    <i class="flaticon-mail"></i
                    ><a href="mailto:gerow@gmail.com">gerow@gmail.com</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-5">
              <div class="header-top-right">
                <div class="header-social">
                  <ul class="list-wrap">
                    <li>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="header-top-btn">
                  <a href="contact.html"
                    ><i class="flaticon-briefcase"></i>Free Consulting</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-area">
          <div class="row">
            <div class="col-12">
              <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
              <div class="menu-wrap">
                <nav class="menu-nav">
                  <div class="logo">
                    <a href="index.html"
                      ><img src="assets/img/logo/logo.png" alt="Logo"
                    /></a>
                  </div>
                  <div class="navbar-wrap main-menu d-none d-lg-flex">
                    <ul class="navigation">
                      <li class="active menu-item-has-children">
                        <a href="#">Home</a>
                        <ul class="sub-menu">
                          <li class="active">
                            <a href="index.html">Finance</a>
                          </li>
                          <li><a href="index-2.html">Consulting</a></li>
                          <li><a href="index-3.html">Insurance</a></li>
                          <li><a href="index-4.html">Digital Agency</a></li>
                          <li><a href="index-5.html">Business</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="#">About Us</a>
                        <ul class="sub-menu">
                          <li><a href="about.html">About Finance</a></li>
                          <li><a href="about-2.html">About Consulting</a></li>
                          <li><a href="about-3.html">About Insurance</a></li>
                          <li>
                            <a href="about-4.html">About Digital Agency</a>
                          </li>
                          <li><a href="about-5.html">About Business</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="sub-menu">
                          <li class="menu-item-has-children">
                            <a href="services.html">Services</a>
                            <ul class="sub-menu">
                              <li>
                                <a href="services.html">Finance Services</a>
                              </li>
                              <li>
                                <a href="services-2.html"
                                  >Consulting Services</a
                                >
                              </li>
                              <li>
                                <a href="services-3.html">Insurance Services</a>
                              </li>
                              <li>
                                <a href="services-4.html">Agency Services</a>
                              </li>
                              <li>
                                <a href="services-5.html">Business Services</a>
                              </li>
                            </ul>
                          </li>
                          <li class="menu-item-has-children">
                            <a href="services-details.html">Services Details</a>
                            <ul class="sub-menu">
                              <li>
                                <a href="services-details.html"
                                  >Services Details One</a
                                >
                              </li>
                              <li>
                                <a href="services-details-2.html"
                                  >Services Details Two</a
                                >
                              </li>
                              <li>
                                <a href="services-details-3.html"
                                  >Services Details Three</a
                                >
                              </li>
                              <li>
                                <a href="services-details-4.html"
                                  >Services Details Four</a
                                >
                              </li>
                              <li>
                                <a href="services-details-5.html"
                                  >Services Details Five</a
                                >
                              </li>
                            </ul>
                          </li>
                          <li>
                            <a href="project-details.html">Portfolio Details</a>
                          </li>
                          <li><a href="team-details.html">Team Details</a></li>
                          <li><a href="error.html">404 Error</a></li>
                        </ul>
                      </li>
                      <li class="menu-item-has-children">
                        <a href="#">Blog</a>
                        <ul class="sub-menu">
                          <li><a href="blog.html">Our Blog</a></li>
                          <li><a href="blog-details.html">Blog Details</a></li>
                        </ul>
                      </li>
                      <li><a href="contact.html">contacts</a></li>
                    </ul>
                  </div>
                  <div class="header-action">
                    <ul class="list-wrap">
                      <li class="header-contact-two">
                        <div class="icon">
                          <i class="flaticon-phone-call"></i>
                        </div>
                        <div class="content">
                          <span>Hot Line Number</span>
                          <a href="tel:0123456789">+123 8989 444</a>
                        </div>
                      </li>
                      <li class="header-search">
                        <a href="#"><i class="flaticon-search"></i></a>
                      </li>
                      <li class="offcanvas-menu">
                        <a href="#" class="menu-tigger">
                          <span></span>
                          <span></span>
                          <span></span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>

              <!-- Mobile Menu  -->
              <div class="mobile-menu">
                <nav class="menu-box">
                  <div class="close-btn"><i class="fas fa-times"></i></div>
                  <div class="nav-logo">
                    <a href="index.html"
                      ><img src="assets/img/logo/logo.png" alt="Logo"
                    /></a>
                  </div>
                  <div class="mobile-search">
                    <form action="#">
                      <input type="text" placeholder="Search here..." />
                      <button><i class="flaticon-search"></i></button>
                    </form>
                  </div>
                  <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                  </div>
                  <div class="social-links">
                    <ul class="clearfix list-wrap">
                      <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
              <div class="menu-backdrop"></div>
              <!-- End Mobile Menu -->
            </div>
          </div>
        </div>
      </div>

      <!-- header-search -->
      <div
        class="search-popup-wrap"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
      >
        <div class="search-close">
          <span><i class="fas fa-times"></i></span>
        </div>
        <div class="search-wrap text-center">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h2 class="title">... Search Here ...</h2>
                <div class="search-form">
                  <form action="#">
                    <input
                      type="text"
                      name="search"
                      placeholder="Type keywords here"
                    />
                    <button class="search-btn">
                      <i class="fas fa-search"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- header-search-end -->

      <!-- offCanvas-menu -->
      <div class="extra-info">
        <div class="close-icon menu-close">
          <button><i class="far fa-window-close"></i></button>
        </div>
        <div class="logo-side mb-30">
          <a href="index.html"
            ><img src="assets/img/logo/logo.png" alt="Logo"
          /></a>
        </div>
        <div class="side-info mb-30">
          <div class="contact-list mb-30">
            <h4>Office Address</h4>
            <p>
              123/A, Miranda City Likaoli <br />
              Prikano, Dope
            </p>
          </div>
          <div class="contact-list mb-30">
            <h4>Phone Number</h4>
            <p>+0989 7876 9865 9</p>
            <p>+(090) 8765 86543 85</p>
          </div>
          <div class="contact-list mb-30">
            <h4>Email Address</h4>
            <p>info@example.com</p>
            <p>example.mail@hum.com</p>
          </div>
        </div>
        <ul class="side-instagram list-wrap">
          <li>
            <a href="#"
              ><img src="assets/img/images/sb_insta01.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/img/images/sb_insta02.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/img/images/sb_insta03.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/img/images/sb_insta04.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/img/images/sb_insta05.jpg" alt=""
            /></a>
          </li>
          <li>
            <a href="#"
              ><img src="assets/img/images/sb_insta06.jpg" alt=""
            /></a>
          </li>
        </ul>
        <div class="social-icon-right mt-30">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-google-plus-g"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="offcanvas-overly"></div>
      <!-- offCanvas-menu-end -->
    </header>
    {{ end }}

    {{ block "main" .}}
    Just content
    {{ end }}

    {{ block "footer" .}}
    <footer>
      <div
        class="footer-area-two footer-bg-two"
        data-background="assets/img/bg/h2_footer_bg.jpg"
      >
        <div class="footer-top-two">
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-7">
                <div class="footer-widget">
                  <div class="fw-logo">
                    <a href="index.html"
                      ><img src="assets/img/logo/logo.png" alt=""
                    /></a>
                  </div>
                  <div class="footer-content">
                    <p>
                      When an unknown printer took a galley of type aawer awtnd
                      scrambled it to make a type specimen book.
                    </p>
                    <div class="footer-info">
                      <ul class="list-wrap">
                        <li>
                          <div class="icon">
                            <i class="flaticon-phone-call"></i>
                          </div>
                          <div class="content">
                            <a href="tel:0123456789">+123 888 9999</a>
                          </div>
                        </li>
                        <li>
                          <div class="icon">
                            <i class="flaticon-clock"></i>
                          </div>
                          <div class="content">
                            <p>
                              Mon – Sat: 8 am – 5 pm, <br />
                              Sunday: <span>CLOSED</span>
                            </p>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-5 col-sm-6">
                <div class="footer-widget">
                  <h4 class="fw-title">Menu</h4>
                  <div class="footer-link">
                    <ul class="list-wrap">
                      <li><a href="about.html">Company</a></li>
                      <li><a href="contact.html">Careers</a></li>
                      <li><a href="contact.html">Press media</a></li>
                      <li><a href="blog.html">Our Blog</a></li>
                      <li><a href="contact.html">Privacy Policy</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-5 col-sm-6">
                <div class="footer-widget">
                  <h4 class="fw-title">Quick Links</h4>
                  <div class="footer-link">
                    <ul class="list-wrap">
                      <li><a href="contact.html">How it’s Work</a></li>
                      <li><a href="contact.html">Partners</a></li>
                      <li><a href="contact.html">Testimonials</a></li>
                      <li><a href="contact.html">Case Studies</a></li>
                      <li><a href="contact.html">Pricing</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-7">
                <div class="footer-widget">
                  <h4 class="fw-title">Our Newsletter</h4>
                  <div class="footer-newsletter">
                    <p>
                      Sign up to Privitar’s weekly newsletter to get the latest
                      updates.
                    </p>
                    <form action="#">
                      <input type="email" placeholder="enter your e-mail" />
                      <button type="submit">Subscribe</button>
                    </form>
                    <div class="footer-social footer-social-two">
                      <ul class="list-wrap">
                        <li>
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                        <li>
                          <a href="#"><i class="fab fa-youtube"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bottom-two">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="copyright-text-two text-center">
                  <p>Copyright © gerow | All Right Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    {{ end }}

    {{ block "js" .}}
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/jquery.odometer.min.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/gsap.js"></script>
    <script src="assets/js/ScrollTrigger.js"></script>
    <script src="assets/js/SplitText.js"></script>
    <script src="assets/js/gsap-animation.js"></script>
    <script src="assets/js/jarallax.min.js"></script>
    <script src="assets/js/jquery.parallaxScroll.min.js"></script>
    <script src="assets/js/particles.min.js"></script>
    <script src="assets/js/jquery.easypiechart.min.js"></script>
    <script src="assets/js/jquery.inview.min.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/main.js"></script>
    {{ end }}
  </body>
</html>
