{{ define "main"}}
<main>
  <section class="error-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="error-content">
            <h1 class="error-404">4<span>0</span>4</h1>
            <h2 class="title">OOPS! Nothing Was Found</h2>
            <p>
              Oops! it could be you or us, there is no page here. It might have
              <br />
              been moved or deleted.Back To Home
            </p>
            <a href="/" class="btn btn-three">Go Back To Home</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}
